@charset "UTF-8";

body
{
	font-family: "ＭＳ Ｐゴシック";
	font-size: 1.0em;
	line-height: 1.0em;
	color: #757575;
	background-color: #212121;
}

h1
{
	font-size: 2.0em;
}

a
{
	text-decoration: inherit;
	color: inherit;
}

a:hover
{
	text-decoration: underline;
	text-decoration-color: #FFFFFF;
}

.normallink
{
	padding: 0.3em;
}

.normallink:hover
{
	text-decoration: none;
	color: #212121;
	background-color: #f44336;
}

.minorlink
{
	color: #424242;
}

.minorlink:hover
{
	text-decoration: none;
	color: #f44336;
}

.rack
{
	width: 72em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.2em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.mainwindow
{
	width: auto;
	height: 36em;
	border-style: solid;
	border-width: 0.3em;
	border-color: #f44336;
	padding: 0.5em;
	overflow-y: scroll;
}

.mainwindow td
{
	padding: 0.3em 0.3em;
}

.date
{
	font-weight: bold;
	text-decoration: underline;
}

.subwindow
{
	width: 35em;
}

.subwindow td
{
	padding: 0.3em 0.3em;
}

.blogtitle
{
	font-weight: bold;
	padding: 0.5em;
	color: #ffcdd2;
	background-color: #f44336;
}

.blogtitle a
{
	padding: 0px;
	display: block;
	width: 100%;
}

.menu_general
{
	font-weight: bold;
	text-align: center;
	padding: 0.5em;
	width: 15em;
	color: #ffcdd2;
	background: #f44336;
}

.menu_news
{
	font-weight: bold;
	text-align: center;
	padding: 0.5em;
	width: 15em;
	color: #BBDEFB;
	background: #2196F3;
}

.menu_anime
{
	font-weight: bold;
	text-align: center;
	padding: 0.5em;
	width: 15em;
	color: #FFF3E0;
	background: #FF9800;
}

.menu_others
{
	font-weight: bold;
	text-align: center;
	padding: 0.5em;
	width: 15em;
	color: #C8E6C9;
	background: #4CAF50;
}

.menu_general a
{
	padding: 0px;
	display: block;
	width: 100%;
}

.menu_news a
{
	padding: 0px;
	display: block;
	width: 100%;
}

.menu_anime a
{
	padding: 0px;
	display: block;
	width: 100%;
}

.menu_others a
{
	padding: 0px;
	display: block;
	width: 100%;
}
